<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1910</key>
	<array>
		<string>1919</string>
		<string>1929</string>
		<string>1939</string>
		<string>1949</string>
		<string>1959</string>
		<string>1969</string>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1920</key>
	<array>
		<string>1929</string>
		<string>1939</string>
		<string>1949</string>
		<string>1959</string>
		<string>1969</string>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1930</key>
	<array>
		<string>1939</string>
		<string>1949</string>
		<string>1959</string>
		<string>1969</string>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1940</key>
	<array>
		<string>1949</string>
		<string>1959</string>
		<string>1969</string>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1950</key>
	<array>
		<string>1959</string>
		<string>1969</string>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1960</key>
	<array>
		<string>1969</string>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1970</key>
	<array>
		<string>1979</string>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1980</key>
	<array>
		<string>1989</string>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>1990</key>
	<array>
		<string>1999</string>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>2000</key>
	<array>
		<string>2009</string>
		<string>至今</string>
	</array>
	<key>2010</key>
	<array>
		<string>至今</string>
	</array>
</dict>
</plist>
